@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream-bg text-slate-deep;
    font-family: 'Lato', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Custom Utilities if needed */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
